@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- */

body {
  margin: 0;
  text-rendering: optimizeLegibility;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}

p {
  margin-bottom: 2rem;
}
/* ---------- */

/* Theme Border */

.border-1 {
  border: 1px solid black;
}
.border-t-1 {
  border-top: 1px solid black;
}
.border-b-1 {
  border-bottom: 1px solid black;
}

/* ---------- */

/* Menu Effect */

.mainMenu {
  background-color: none;
  border-bottom: none;
  transition: background-color 300ms ease, border-bottom 300ms ease-out;
}

.mainMenuFilled {
  background-color: white;
  border-bottom: solid 1px black;
  transition: background-color 300ms ease, border-bottom 300ms ease-out;
}

/* ---------- */

/* Article Drop Shadow Effect */

.articleDropShadow {
  background-color: white;
  transition: box-shadow 200ms ease, transform 200ms ease;
  box-shadow: 0px 0px 0 black;
}
.articleDropShadow:hover {
  transform: translate(4px, -4px);
  box-shadow: -8px 8px 0 black;
}

/* ---------- */

/* Article Grid Media Queries */


/* TODO: this grid-template-rows value must be dynamic */
.articleGridContainer {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(1, 250px);
  gap: 35px 0px;
}

.articleGridItem {
  grid-column-end: span 12;
}

@media (min-width: 640px) {
  .articleGridContainer {
    gap: 35px 35px;
  }
  .articleGridItem {
    grid-column-end: span 12;
  }
}
@media (min-width: 768px) {
  .articleGridItem {
    grid-column-end: span 6;
  }
}
@media (min-width: 1024px) {
  .articleGridItem {
    grid-column-end: span 4;
  }
}
@media (min-width: 1280px) {
  .articleGridItem {
    grid-column-end: span 3;
  }
}

/* ---------- */

.arrowAnimationRightBounce {
  animation: RightBounce 1s infinite;
}

@keyframes RightBounce {
  0%,
  100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.arrowAnimationLeftBounce {
  animation: LeftBounce 1s infinite;
}

@keyframes LeftBounce {
  0%,
  100% {
    transform: translateX(25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* ---------- */

.ltag__replit > iframe {
  width: 100%;
}


/* TODO: let's use thi color palette https://brilliant.org/daily-problems/ */